<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <header>

        <section>
            <div>
               <h1>
                   Olá <%= nomeUsuario %>
               </h1>
            </div>

            <div>
                <form action="/confirmarcontato" method="get">

                    <input type="text" name="nome" id="">
                    <input type="email" name="email" id="">
                    <button type="submit">Enviar</button>

                </form>
            </div>
        </section>

    </header>
    
   
</body>
</html>