<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Alanzinho10</title>
    <link rel="shortcut icon" href="/images/pngwing.com.png" type="image/x-icon"/>
</head>
<body>
    <h1>
        Ih Acho que você se perdeu
    </h1>
    
        <img class="error404" src="/images/minion error404.jpg" alt="" >
        <p>
            clique aqui para voltar a pagina principal
            <a href="/"><input type="submit" name="button" value="Voltar a pagina inicial"></a>
        </p>

</body>
</html>