<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alanzinho10</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="shortcut icon" href="/images/pngwing.com.png" type="image/x-icon"/>
</head>
<body>
  <header>
    <h1>
       Olá, <%=nome%>
    </h1>
  <p>
    Olá seja bem vindo a comunidade 
  </p>
  <div>
      <img src="/images/bbb3f1c322257e5e25f23a74e9672196.gif" alt="">
  </div>
  </header>
  <footer>
    <h3>É muito bom ter você fazendo parte desta comunidade</h3>
    <h5>Para sair clique no botão abaixo</h5>
    <a href="/"><input type="submit" name="button" value="Sair"></a>
  </footer>
  
</body>
</html>