<!DOCTYPE html>
<html>
  <head>
    <title><%=nomehome%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <section>
        <h1><%=titulo%></h1>
        <img src="/images/minios.gif" alt="">
        <p><%=textoMeio%></p>
  </section>
  <main>
    <h2>
      <%=cadastresse%>
    </h2>
      <a href="/login"><input type="button" value="sim"></a>
      <a href="/cadastro"><input type="button" value="não"></a>
    
  </main>
  </body>
</html>
