*{
  text-decoration: none;
  text-align: center;
}

body {
  padding: 10%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(12, 29, 107);
  color: aliceblue;
 
}

h1{
  border-style:solid;
  border-bottom:1px;
  text-align: center;
  color: aliceblue;
}

p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  text-align: center;
  border-style: solid;
  border-top: 1px;
}

main{
  text-align: center;
}

.error404{
  width: 40%;
}

